#main-content {
    width: 80%;
    max-width: 80%;
    margin-left: 10%;
    /* background-color: white; */
    color: white;
}

.no-categories-card {
    color: black;
    width: 25em;
}

#categories-list {
    margin-top: 10px;
    display: grid;
    row-gap: 10px;
    justify-content: center;
}